/* FONTS */

@font-face {
  font-family: NotoSans;
  src: url("assets/fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: Pacifico;
  src: url("assets/fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Regular.ttf");
}

/* STYLES */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
h1 {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 63px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
h2 {
  padding-top: 16px;
  margin-bottom: 22px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
h2 > span {
  background-color: fuchsia;
  padding: 4px;
}
h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #4275fa;
}
h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #2e2d56;
}
/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  padding: 42px 84px;
  background: url("assets/svg/header-bg.svg") no-repeat;
}
.header-top {
  display: flex;
  justify-content: space-between;
}

/* NAVIGATION */

.nav-list {
  min-height: 74px;
  display: flex;
  list-style-type: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.nav-item:hover {
  background: url("assets/img/menu-decor.png") no-repeat;
}
.nav-item a {
  padding: 24px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 121px;
  height: 74px;
}
.nav-item a:hover {
  color: #4275fa;
}

/* HEADER CONTENT */

.header-content {
  min-height: 540px;
  display: flex;
  justify-content: space-between;
}
.description {
  flex-basis: 636px;
  align-self: center;
}
.profile {
  display: flex;
  flex-basis: 636px;
  justify-content: center;
  align-items: center;
}
.description-text {
  margin-bottom: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.description-text span {
  text-transform: uppercase;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.description-btn-container {
  display: flex;
}
.description-btn {
  text-decoration: none;
  color: #fff;
  padding: 10px 32px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
}
.description-btn:hover {
  padding: 10px 32px;
  background: #ffffff;
  color: #4275fa;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.description-btn:first-of-type {
  margin-right: 40px;
}

/* MAIN CONTANT */

.main {
  display: flex;
  flex-direction: column;
}
#about {
  margin-bottom: 64px;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
}
.decor {
  flex-basis: 636px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(assets/img/coding.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.intro {
  flex-basis: 636px;
  padding-top: 40px;
  padding-left: 20px;
}
.intro > h3 {
  margin-bottom: 12px;
}
.intro p {
  margin-bottom: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.06em;
  color: #5f5e79;
}
.intro p span {
  display: block;
  margin-bottom: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.06em;
  color: #2e2d56;
}
.lang {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.lang h3 {
  align-self: center;
  margin-bottom: 48px;
}
.lang-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.en {
  width: 64px;
  height: 64px;
  background-image: url(assets/img/EN.png);
  display: flex;
  justify-content: end;
  align-items: end;
}
.cz {
  width: 64px;
  height: 64px;
  background-image: url(assets/img/CZ.png);
  display: flex;
  justify-content: end;
  align-items: end;
}
.ru {
  width: 64px;
  height: 64px;
  background-image: url(assets/img/RU.png);
  display: flex;
  justify-content: end;
  align-items: end;
}
.lang-list-item span {
  background: #fff;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 50%;
  position: relative;
  left: 12px;
  top: 0;
  font-weight: 600;
}

/* SKILLS SECTION */

#skills {
  padding: 64px 42px 0;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-box {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill-box-item {
  flex-basis: 394px;
  min-height: 296px;
  margin-bottom: 24px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.skill-box-item > div {
  padding: 0 0 12px 21px;
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px solid #6d6d6d;
  box-sizing: border-box;
  border-radius: 0px 48px 0px 0px;
}
.skill-box-item span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #2e2d56;
}
.html::before {
  width: 80px;
  height: 80px;
  content: " ";
  background-image: url("assets/img/html.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 20px;
}
.css::before {
  width: 80px;
  height: 80px;
  content: " ";
  background-image: url("assets/img/css.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 20px;
}
.javascript::before {
  width: 80px;
  height: 80px;
  content: " ";
  background-image: url("assets/img/javascript.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 20px;
}
.bootstrap::before {
  width: 80px;
  height: 80px;
  content: " ";
  background-image: url("assets/img/bootstrap.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 20px;
}
.sass::before {
  width: 80px;
  height: 80px;
  content: " ";
  background-image: url("assets/img/sass.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 20px;
}
.wordpress::before {
  width: 80px;
  height: 80px;
  content: " ";
  background-image: url("assets/img/worpress.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 20px;
}
.skill-box-list {
  padding: 0 20px;
  margin-bottom: 24px;
}
.skill-box-list li {
  padding-top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.06em;
  color: #5f5e79;
}

/* CODE SECTION */

#code {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.code-example {
  width: 800px;
  margin: 32px 0;
  background-color: #1d1e22;
  border: 1px solid;
}
pre {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.06em;
}
.gold {
  color: #ddca7e;
}
.royal {
  color: #667597;
}
.white {
  color: #fff;
}
.lime {
  color: #96b38a;
}
.blue {
  color: #809bae;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #3951e7;
  padding: 12px 36px;
  border: 1px solid #3951e7;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.25));
}
.btn:hover {
  background-color: #3951e7;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 36px;
  border: 1px solid #3951e7;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.25));
}

/* CONTACT SECTION */

#contact {
  padding-right: 42px;
  margin-bottom: 128px;
  display: flex;
  flex-direction: column;
}
#contact > h3 {
  align-self: center;
}
.contact-box {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}
.contact-box-item {
  width: 596px;
  display: flex;
  flex-direction: column;
}
.contact-info {
  padding: 24px 48px;
  justify-content: space-around;
  background-color: #384be4;
}
.contact-info > h5 {
  margin-bottom: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.06em;
  align-self: center;
  color: #ffffff;
}
.contact-info > p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.contact-list {
  list-style-type: none;
  position: relative;
}
.contact-list-item {
  padding-top: 24px;
  padding-left: 32px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.contact-list-item.account::before {
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("assets/img/account.png");
  position: absolute;
  left: 0;
}
.contact-list-item.call::before {
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("assets/img/call.png");
  position: absolute;
  left: 0;
}
.contact-list-item.mail::before {
  width: 24px;
  height: 24px;
  content: "";
  background-image: url("assets/img/message.png");
  position: absolute;
  left: 0;
}
.email {
  text-decoration: none;
  color: #ffffff;
}
.email:hover {
  text-decoration: underline;
}
.message {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}
.message label {
  padding: 12px 0;
  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.message input {
  font-family: Poppins;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #929292;
  padding: 6px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}
.message input:focus {
  outline: none;
  border: 1px solid #c4c4c4;
}
.message textarea {
  margin-bottom: 24px;
  height: 200px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #929292;
  padding: 6px;
  resize: none;
  outline: none;
  border: 1px solid #c4c4c4;
}
.message input[type="submit"] {
  width: 200px;
  align-self: end;
  background-color: #4275fa;
  color: #fff;
  cursor: pointer;
}
.social {
  display: flex;
  justify-content: space-evenly;
}

/* FOOTER */

.footer {
  padding-top: 12px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #384be4;
}
.footer-bottom {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 84px;
}
.footer-bottom div {
  display: flex;
  flex-basis: 424px;
}
.footer-bottom div:nth-of-type(2) {
  justify-content: center;
}
.footer-bottom div:nth-of-type(3) {
  justify-content: end;
}
.footer-bottom p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
