/* FONTS */

@font-face {
  font-family: NotoSans;
  src: url("assets/fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: Pacifico;
  src: url("assets/fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Regular.ttf");
}

/* STYLES */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
h1 {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 63px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
h2 {
  padding-top: 16px;
  margin-bottom: 22px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
h2 > span {
  background-color: fuchsia;
  padding: 4px;
}
h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #4275fa;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  padding: 42px 84px;
  min-height: 696px;
  width: 100%;
  background: url("assets/svg/header-bg.svg") no-repeat;
}
.header-top {
  display: flex;
  justify-content: space-between;
}

/* NAVIGATION */

.nav-list {
  height: 74px;
  display: flex;
  list-style-type: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.nav-item:hover {
  background: url("assets/img/menu-decor.png") no-repeat;
}
.nav-item a {
  padding: 24px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 121px;
  height: 74px;
}
.nav-item a:hover {
  color: #4275fa;
}

/* HEADER CONTENT */

.header-content {
  height: 540px;
  display: flex;
  justify-content: space-between;
}
.description {
  flex-basis: 496px;
  align-self: center;
}
.profile {
  flex-basis: 496px;
  align-self: center;
}
.description-text {
  margin-bottom: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.description-text span {
  text-transform: uppercase;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.description-btn-container {
  display: flex;
}
.description-btn {
  text-decoration: none;
  color: #fff;
  padding: 10px 32px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 18px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
}
.description-btn:hover {
  padding: 10px 32px;
  background: #ffffff;
  color: #4275fa;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.description-btn:first-of-type {
  margin-right: 40px;
}

/* MAIN CONTANT */

.main {
  display: flex;
  flex-direction: column;
}
#about {
  padding-left: 42px;
  padding-right: 42px;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.decor {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/img/coding.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.intro {
  width: 50%;
  padding-top: 40px;
  padding-left: 20px;
}
.intro > h3 {
  margin-bottom: 12px;
}
.intro p {
  margin-bottom: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.06em;
  color: #5f5e79;
}
.intro p span {
  display: block;
  margin-bottom: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.06em;
  color: #2e2d56;
}
.lang {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
}
.lang h3 {
  align-self: center;
  padding-top: 18px;
  margin-bottom: 32px;
}
.lang-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.en {
  width: 64px;
  height: 64px;
  background-image: url(assets/img/EN.png);
  display: flex;
  justify-content: end;
  align-items: end;
}
.cz {
  width: 64px;
  height: 64px;
  background-image: url(assets/img/CZ.png);
  display: flex;
  justify-content: end;
  align-items: end;
}
.ru {
  width: 64px;
  height: 64px;
  background-image: url(assets/img/RU.png);
  display: flex;
  justify-content: end;
  align-items: end;
}
.lang-list-item span {
  background: #fff;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 50%;
  position: relative;
  left: 12px;
  top: 4px;
  font-weight: 600;
}
